<!--<manifest package="com.smartdevicelink" xmlns:android="http://schemas.android.com/apk/res/android">-->
	<!--<uses-sdk android:minSdkVersion="8"/>-->
<!--</manifest>-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.smartdevicelink"
android:versionCode="1"
android:versionName="4.6.0" >

<uses-sdk
	android:minSdkVersion="16"
	android:targetSdkVersion="26" />

<uses-permission android:name="android.permission.WAKE_LOCK" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<!--
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
    android:maxSdkVersion="18"/>
    -->
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.BLUETOOTH" />

<application>

	<!--SDL services and receivers-->
	<service android:name="com.smartdevicelink.api.SdlConnectionService" >
	</service>

	<receiver android:name="com.smartdevicelink.api.SdlBluetoothReceiver" >
		<intent-filter>
			<action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
			<action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
			<action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
			<action android:name="android.media.AUDIO_BECOMING_NOISY" />
		</intent-filter>
	</receiver>

	<!--VHA service and receiver-->

	<!--<service android:name="com.ford.applink.fordowner.features.vha.VhaVehicleMonitor">-->
	<!--</service>-->

	<!--<receiver android:name="com.ford.applink.fordowner.features.vha.VhaStatusReceiver">-->
	<!--</receiver>-->

	<!-- IVSU services and receivers -->

	<!--
    <service android:name="com.ford.applink.fordowner.features.ivsu.FileChunkDownloadService" >
    </service>
    <service android:name="com.ford.applink.fordowner.features.ivsu.IvsuMonitorService" >
    </service>
    <receiver android:name="com.ford.applink.fordowner.features.ivsu.IvsuWifiConnectionReceiver"
              android:enabled="false">
        <intent-filter>
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
        </intent-filter>
    </receiver>
    <receiver android:name="com.ford.applink.fordowner.features.ivsu.IvsuConnectivityReceiver"
              android:enabled="false">
        <intent-filter>
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
        </intent-filter>
    </receiver>
    -->

	<!-- Traffic services and receivers -->

	<!--<service android:name="com.here.trafficservice.HereTrafficService"/>-->

</application>

</manifest>
